---
import Layout from '../components/layout.astro';

const api_key = import.meta.env.NETLIFY_API_KEY;
const site_id = import.meta.env.SITE_ID;
const form_id = import.meta.env.FORM_ID;
const bearer = `Bearer ${api_key}`

let data = 'nothing'
let sightings = []

function createSightingObject(file, date, note) {
  sightings.push(
    {
      'file' : file,
      'date' : date,
      'note' : note,
    }
  )
}

try {
  const response = await fetch(`https://api.netlify.com/api/v1/forms/${form_id}/submissions`,
  {
    method: 'GET',
    headers: {
      'Authorization': bearer
    },
  })
  data = await response.json()
  
  if (data.length > 0) {
    for(let i=0; i<data.length; i++){
      console.log(data[i].data)

      let obj = data[i].data
      if (obj.file_1 != '') createSightingObject(obj.file_1, obj.date_1, obj.notes_1)
      if (obj.file_2 != '') createSightingObject(obj.file_2, obj.date_2, obj.notes_2)
      if (obj.file_3 != '') createSightingObject(obj.file_3, obj.date_3, obj.notes_3)
      if (obj.file_4 != '') createSightingObject(obj.file_4, obj.date_4, obj.notes_4)
      if (obj.file_5 != '') createSightingObject(obj.file_5, obj.date_5, obj.notes_5)
    }
  }
} catch {
  data = 'error'
}
---

<style>
.steps {
  background: var(--light);
  display: grid;
  gap: 2rem;
  grid-template-columns: min(90vw, 250px);
  justify-content: center;
  margin-top: 3rem;
  padding: 5rem 5vw;
  width: 100vw;
}

@media (min-width: 550px) {
  .steps {
    grid-template-columns: repeat(2, min(calc(50% - 1rem), 250px));
  }
}

@media (min-width: 1050px) {
  .steps {
    grid-template-columns: repeat(4, min(calc(25% - 1.5rem), 250px));
  }
}

.step {
  background: var(--white);
  border: 1px solid var(--lightBorder);
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  padding: 1rem 1.5rem 1.5rem;
  text-align: left;
  box-shadow: 0 2px 4px rgb(14 30 37 / 12%);
}

.stepHeading {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}


</style>

<Layout
  title="Netlify Feature Tour"
  description="This is a small site to show the most powerful features of Netlify quickly!"
  home
>
  <main class="steps">
    {JSON.stringify(sightings)}
    <!-- <section class="step">
      <h2 class="stepHeading">Add your Sightings</h2>
      <p>
        <strong>Grow our evidence</strong>
      </p>
      <a href="/submit" class="button">
      Submit your sightings
      <span class="sr-only">about Netlify Functions</span>
      </a>
    </section> -->
  </main>
</Layout>
