---
import Layout from '../components/layout.astro';
import Sightings from '../components/sightings.vue';

const api_key = import.meta.env.NETLIFY_API_KEY;
const site_id = import.meta.env.SITE_ID;
const form_id = import.meta.env.FORM_ID;
const bearer = `Bearer ${api_key}`

let data = 'nothing'
let sightings = []

function createSightingObject(file, date, note) {
  sightings.push(
    {
      'file' : file,
      'date' : date,
      'note' : note,
    }
  )
}

try {
  const response = await fetch(`https://api.netlify.com/api/v1/forms/${form_id}/submissions`,
  {
    method: 'GET',
    headers: {
      'Authorization': bearer
    },
  })
  data = await response.json()
  
  if (data.length > 0) {
    for(let i=0; i<data.length; i++){
      let obj = data[i].data
      if(obj.consent == 'on') {
        if (obj.file_1 != '') createSightingObject(obj.file_1, obj.date_1, obj.notes_1)
        if (obj.file_2 != '') createSightingObject(obj.file_2, obj.date_2, obj.notes_2)
        if (obj.file_3 != '') createSightingObject(obj.file_3, obj.date_3, obj.notes_3)
        if (obj.file_4 != '') createSightingObject(obj.file_4, obj.date_4, obj.notes_4)
        if (obj.file_5 != '') createSightingObject(obj.file_5, obj.date_5, obj.notes_5)
      }
    }
  }
} catch {
  data = 'error'
}
---


<Layout
  title="Bestiary 352"
  description="Frame 352 is a solo photo journaling RPG where players collect photographic evidence of a cryptid in their region. Play involves walking (or skateboarding, wheelchairing, bicycling, rollerblading, canoeing, swimming, driving, or moving in a some way), taking photographs, and note taking, in response to the games central mechanic - a coin pull divination system."
  home
>
  <main class="steps">
    <Sightings sightings={sightings} />
  </main>
</Layout>
