---
import Layout from '../components/layout.astro';
import SightingsForm from '../components/sighting-form.vue';
---

<style>

</style>

<Layout
  title="Bestiary 352"
  description="Submit your findings for inclusion in Bestiary 3252."
>
  <main>
    <form
    class="form"
    method="POST"
    name="submit-sightings"
    action="/submit"
    id="form"
    netlify
  >
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />

    <label for="conclusion">Conclusion</label>
    <textarea name="conclusion"></textarea>
    <SightingsForm client:load/>
    <label class="consent"><input type="checkbox" id="consent" name="consent" class="checkbox"/> I consent to have my sightings published by Maxwell Lander.</label>
    <button type="submit" class="button">
      Submit
    </button>
  </form>
  </main>
</Layout>
