---
import Layout from '../components/layout.astro';
import SightingsForm from '../components/sighting-form.vue';

var count = [1]
---

<style>

</style>

<Layout
  title="Frame 352"
  home
>
  <script define:vars={count}> 
    function readURL(input) {
      if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
              $('#blah')
                  .attr('src', e.target.result);
          };

          reader.readAsDataURL(input.files[0]);
      }
    }
  </script>

  <main>
    <SightingsForm client:load/>
  </main>
</Layout>
